.grid-1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr;
}
/* Desktop */
@media screen and (min-width: 800px) {
  .grid-1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid-1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
